.footer {
    position: relative;
    padding:  0 0 150%;
    overflow: hidden;

    @include tablet {
        padding: 0 0 100%;
    }

    @include desktop {
        padding: 0 0 56%;
    }

    &-background {
        @include         position(absolute, 0, -50%, 0, -50%);
        background:      url($backgrounds-path + 'footer-background.png') no-repeat;
        background-size: cover;

        @include tablet {
            @include position(absolute, 0, -25%, 0, -25%);
        }

        @include desktop {
            @include position(absolute, 0, 0, 0, 0);
        }
    }

    &-sponsor {
        @include    horizontal-center;
        bottom:     1.5rem;
        text-align: center;

        @include tablet {
            bottom: 4rem;
        }

        @include desktop {
            bottom: 7.5rem;
        }

        &-intro {
            margin:    0 0 $global-margin * .5;
            color:     $white;
            font-size: $global-font-size * .75;

            @include tablet {
                margin:    0 0 $global-margin * 2;
                font-size: $global-font-size * 1.15;
            }
        }

        &-image {
            width:  65%;
            margin: 0 auto;

            @include tablet {
                width: auto;
            }
        }
    }
}
