.l-row {
    max-width: 64rem;

    &.l-column {
        margin: 0 auto;
    }

    .l-row {
        margin: 0 .625rem;

        @include tablet {
            margin: 0 .9375rem;
        }
    }
}

.l-columns {
    width:         100%;
    padding:       0 .625rem;
    float:         left;
}

.l-col-3 {
    width: 100%;
}

.l-col-2 {
    width: 50%;
}

.l-col-1 {
    width: 33.3333%;
}
