.l-container {
    @include clearfix;
    position: relative;
    margin:   0 auto;
    padding:  0 $global-padding;

    @include tablet {
        width:   45rem;
        padding: 0;
    }

    @include medium-desktop {
        width: 60rem;
    }

    @include large-desktop {
        width: 70rem;
    }
}

.l-row {
    @include clearfix;
    margin:  0 (-$global-margin) * .5;
}

.l-col {
    padding: 0 $global-padding * .5;
    float:   left;
}

.l-col-1 {
    width: 100%;
}

.l-col-2 {
    width: 100%;

    @include tablet {
        width: 50%;
    }
}

.l-col-3 {
    width: 100%;

    @include tablet {
        width: 33.3333%;
    }
}

.l-col-md-4 {
    @include medium-desktop {
        width: 25%;
    }
}
