.header {
    @include position(fixed, 0, 0, auto, 0);
    height:  4rem;
    padding: 0 $global-padding;
    z-index: 2;
    font-size: 0;

    @include tablet {
        padding: 0 $global-padding * 1.5;
    }

    @include medium-desktop {
        height:  5rem;
        padding: 0 $global-padding * 2;
    }

    @include large-desktop {
        padding: 0 $global-padding * 2.5;
    }

    &::before {
        @include    position(absolute, 0, 0, 0, 0);
        background: $header-color;
        content:    '';
        opacity:    .8;
        z-index: -1;
    }

    &--logo {
        width: 20%;
        display: inline-block;
        vertical-align: middle;

        @include tablet {
            padding: $global-padding 0;
        }

        a {
            display:         inline-block;
            width:           3rem;
            height:          3rem;
            background:      url($logos-path + 'vampire-logo.png') no-repeat;
            background-size: 2.4rem;

            @include tablet {
                width:           20rem;
                height:          2.3rem;
                background:      url($logos-path + 'header-logo.png') no-repeat;
                background-size: 20rem;
            }

            @include medium-desktop {
                width:           13rem;
                height:          2rem;
                background-size: 13rem;
            }
        }
    }

    &--menu {
        width: 80%;
        text-align: right;

        ul {
            &.menu {
                margin: 0;

                a {
                    &.is-active {
                        color: $secondary-color;
                    }
                }
            }
        }

        li {
            &.menu-item {
                display: inline-block;
                padding: 0 0 0 $global-padding;

                @include tablet {
                    padding: $global-padding * 2 $global-padding * 1.5 $global-padding * 2 0;
                }
            
                @include medium-desktop {
                    padding: $global-padding * 2 $global-padding * 2 $global-padding * 2 0;
                }
            }
        }

        a {
            color:       $white;
            font-size:   $global-font-size * .875;
            font-weight: $weight-regular;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}
