.header {
    @include position(fixed, 0, 0, auto, 0);
    height:  4rem;
    padding: 0 $global-padding;
    z-index: 2;

    @include tablet {
        padding: 0 $global-padding * 1.5;
    }

    @include medium-desktop {
        height:  5rem;
        padding: 0 $global-padding * 2;
    }

    @include large-desktop {
        padding: 0 $global-padding * 2.5;
    }

    &::before {
        @include    position(absolute, 0, 0, 0, 0);
        background: $header-color;
        content:    '';
        opacity:    .8;
    }

    &--logo {
        @include vertical-center;
        left:    1rem;

        @include tablet {
            left: 1.5rem;
        }

        @include medium-desktop {
            left: 2rem;
        }

        @include large-desktop {
            left: 2.5rem;
        }

        a {
            display:         inline-block;
            width:           3rem;
            height:          3rem;
            background:      url($logos-path + 'vampire-logo.png') no-repeat;
            background-size: 2.4rem;

            @include tablet {
                width:           20rem;
                height:          2.3rem;
                background:      url($logos-path + 'header-logo.png') no-repeat;
                background-size: 20rem;
            }

            @include medium-desktop {
                width:           22rem;
                height:          2.5rem;
                background-size: 22rem;
            }
        }
    }

    &--menu {
        @include vertical-center;
        right:   1rem;

        @include tablet {
            right: 1.5rem;
        }

        @include medium-desktop {
            right: 2rem;
        }

        @include large-desktop {
            right: 2.5rem;
        }

        ul {
            &.menu {
                margin: 0;
            }
        }

        li {
            &.menu-item {
                display: inline-block;
                padding: 0 0 0 $global-padding;

                @include tablet {
                    padding: 0 0 0 $global-padding * 1.5;
                }
            }
        }

        a {
            color:       $white;
            font-size:   $global-font-size * 1.125;
            font-weight: $weight-regular;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}
