{% for item in items %}
    {% if not loop.first %}
        <div class="super-extra">
            <span class="plus-sign">+</span>
            {{ item.content }}
        </div>
    {% else %}
        {{ item.content }}
    {% endif %}
{% endfor %}

