<div class="l-container">
    <ul class="share-links">
        <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('<current>') }}" target="_blank" class="share-links--link facebook"></a>
        </li>

        <li>
            <a href="https://plus.google.com/share?url={{ url('<current>') }}" target="_blank" class="share-links--link google-plus"></a>
        </li>

        <li>
            <a href="http://twitter.com/share?url={{ url('<current>') }}&hashtags=DCTransylvania" target="_blank" class="share-links--link twitter"></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/shareArticle?&url={{ url('<current>') }}" target="_blank" class="share-links--link linkedin"></a>
        </li>
    </ul>
</div>