<div>
    <img src="/{{ directory }}/images/backgrounds/small-header.png" alt="background">
</div>
<div class="article-section form-article">
    <div class="l-container">
        <div class="title-container">
            <div class="large-title-block title">
                <h2>{{ "Sign up to mentor"|t }}</h2>
            </div>
        </div>
    </div>
</div>
<div class="mentors-form">
    <form{{ attributes }}>
        {{ children }}
    </form>
</div>
