<div>
    <img src="/{{ directory }}/images/backgrounds/small-header.png" alt="background">
</div>
<div class="article-section form-article">
    <div class="l-container">
        <div class="title-container">
            <div class="large-title-block title">
                <h2>{{ "Checkout"|t }}</h2>
            </div>
        </div>
    </div>
</div>
<div class="sponsors-contact">
    <div class="l-container">
        <div class="small-title-block">
            <form{{ attributes }}>
                {{ children }}
            </form>
        </div>
    </div>
</div>