.commerce-checkout-flow-dct-multistep {

  .form-item-payment-information-billing-information-address-0-address-address-line2 {
    margin-top: 2em;
  }

  #edit-payment-information-billing-information-address-0-address-country-code {
    width: 100%;
  }

  @include tablet {
    .form-two-column {
      margin-bottom: -3em;
    }
  }

}

.l-container {
  .homepage-twitter {
    p {
      font-size: 2em;
      color: #fcb02a;
    }
  }
}

.field--name-variations {
  .field__label,
  .field--name-purchased-entity {
    display: none;
  }
}

.field--name-quantity {
  label {
    display: inline-block;
    position: relative;
    padding: 0 0 .2rem;
    font-size: .875rem;
  }
}
