.commerce-checkout-flow-dct-multistep {

  fieldset {

    &.checkout-pane-payment-information > legend {
      display: none;
    }

    span {
      line-height: 20px;
    }
  }

  .form-item-payment-information-billing-information-address-0-address-address-line2 {
    margin-top: 2em;
  }

  #edit-payment-information-billing-information-address-0-address-country-code {
    width: 100%;
  }

  @include tablet {
    .form-two-column {
      margin-bottom: -3em;
    }
  }

  .form-actions {
    a {
      float: left;
    }
  }

}

.l-container {
  .homepage-twitter {
    p {
      font-size: 2em;
      color: #fcb02a;
    }
  }
}

.field--name-variations {
  .field__label,
  .field--name-purchased-entity {
    display: none;
  }
}

.field--name-quantity {
  label {
    display: inline-block;
    position: relative;
    padding: 0 0 .2rem;
    font-size: .875rem;
  }
}

.my-profile-info {
  .commerce-add-to-cart {
    .field--name-quantity {
      width: 46%;
      float: left;
      font-size: initial;

      input {
        color: #200f17;
      }

    }

    .form-actions {
      margin: 1.7rem 0 0 0;
      width: 30%;
      float: right;

      input {
        color: #fff;
      }
    }
  }
}

.view-commerce-cart-form {
  form {
    margin: 5%;
    table {
      width: calc(100% + .8rem);
      color: #fff;
      font-size: 1rem;
      border-collapse: separate;
      border-spacing: .4rem;

      th {
        background-color: #fcb02a;
        padding: 1%;
        line-height: 2rem;
        text-align: center;
      }

      td {
        background-color: #200f17;
        padding: 1%;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
}

.bought-tickets {
  .redeem-message {
    padding: 2rem 4rem 0 4rem;
  }
  .article-section {
    table {
      th {
        background-color: #200f17;
        padding: 1%;
        line-height: 2rem;
        text-align: center;
      }

      a {
        text-decoration: underline;
        color: white;

        &:hover {
          color: #200f17;
        }
      }
    }
  }
}

.commerce-checkout-flow-dct-multistep {
  margin-bottom: 1rem;

  ul {
    list-style-type: disc;

    li {
      margin-left: 2rem;
    }
  }

  .commerce-messages {
    margin-bottom: 2rem;
    text-align: center;
    .commerce-error {
      color: #a51b00;
      background: #f9c9bf;
      padding: 20px;
      border-color: #e62600;
      border: double;
    }
  }

  p {
    color: black;
  }
}

.confirmation-link {
  .button-left {
    margin-right: 1rem;
  }
  .button-right {
    margin-left: 1rem;
  }
}