.commerce-checkout-flow-dct-multistep {

  .form-item-payment-information-billing-information-address-0-address-address-line2 {
    margin-top: 2em;
  }

  #edit-payment-information-billing-information-address-0-address-country-code {
    width: 100%;
  }

  @include tablet {
    .form-two-column {
      margin-bottom: -3em;
    }
  }

}
