.error-page-container {
    height: 100vh;
    background-color: $background-color-secondary;
}

.image-text-wrapper {
    @include horizontal-center;
    top: 25%;
    width: 70%;
    text-align: center;

    .text-btn-wrapper {
        p {
            margin-top: 2rem;
            color: $error-page-color;
            font-family: $font-main;
            font-size: $global-font-size;
        }

        button {
            margin-top: 1rem;
            padding: 1.25rem 1.9rem;
            background-color: $error-page-color;
            color: $black;
        }
    }

    @include tablet {
        width: 50%;

        .text-btn-wrapper {
            p {
                margin-top: 4rem;
                font-size: $global-font-size * 1.5;
            }

            button {
                margin-top: 3.5rem;
            }
        }
    }
}
