.homepage-speakers {
    margin: $global-margin * 3 0 0;

    @include tablet {
        margin:  $global-margin * 7 0 0;
        padding: 0 0 $global-padding * 10;
    }

    .large-title-block {
        h2 {
            width: 100%;
            color: $black;
        }
    }

    &--selected {
        padding:    $global-margin * 2 0 0;
        font-size:  0;
        text-align: center;

        @include tablet {
            padding: 0;
        }

        .form-type-radio {
            display:   inline-block;
            font-size: $global-font-size;

            &:first-child {
                display: none;
            }
        }

        label {
            padding: .75rem 1.25rem;
            border:  .15rem solid $secondary-color;
            color:   $secondary-color;
            cursor:  pointer;
        }

        input {
            display:     none;
            padding:     0;

            &:checked + label {
                background-color: $secondary-color;
                color:            $white;
            }
        }
    }

    .l-row {
        font-size:  0;
        text-align: center;
    }

    &--display {
        display:     inline-block;
        width:       100%;
        margin:      $global-margin * 2 0 0;
        float:       none;
        color:       $primary-color;
        line-height: $global-line-height * 1.5;


        @include tablet {
            width:  25%;
            margin: $global-margin * 5 0 0;
        }

        img {
            width:         auto;
            margin:        0 auto $global-margin;
            border-radius: 50%;
        }

        &--name {
            font-size:   $global-font-size * 1.5;
            font-weight: $weight-bold;
        }

        &--position {
            color: $secondary-color;
        }

        &--firm {
            text-transform: uppercase;
        }

        &--position,
        &--firm {
            font-size: $global-font-size;
        }
    }
}
