.header--menu,
.burger-button {
    display: inline-block;
    vertical-align: middle;
}

.link-menu {
    right: 6rem;

    @include large-mobile {
        display: inline-block;
    }

  @media all and (max-width: 1226px) {
    .buy-ticket-button {
      display: none;
    }
  }
}

.burger-button {
    display: inline-block;
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    width: 25px;
    height: 25px;
    margin-left: 20px;
    text-align: left;
    cursor: pointer;
    z-index: 10;

    @include medium-desktop {
        display: none;
    }

    .btn-layers {
        position: absolute;
        top: 50%;
        width: 25px;
        height: 3px;
        transform: translateY(-50%);
        background-color: $white;

        &::before,
        &::after {
            @include position (absolute, 50%, null, null, null);
            width: 25px;
            height: 3px;
            transition: .2s;
            background-color: $white;
            content: '';
        }

        &::before {
            transform: translateY(-10px);
        }

        &::after {
            transform: translateY(6px);
        }
    }

    .btn-layers-fade {
        background-color: transparent;
        box-shadow: none;

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}

.burger-menu {
    display: none;
    width: 80%;
    padding: 0;
    color: $white;
    font-size: 1.3rem;

    @include medium-desktop {
        display: inline-block;
        width: 85%;
    }


    ul {
        text-align: right;

        @include tablet {
            text-align: center;
        }

        &.main-ul {
            height: 100vh;
            overflow-y: auto;
        }
    }

    .menu-item {
        display: inline-block;
        padding: .7rem 1.5rem 0 0;
        vertical-align: middle;

        a {
            position: relative;
            color: $white;

            @include on-events {
                color: $secondary-color;
            }
        }

        ul:not(.main-ul) {
            display: none;
            padding: 1rem 0;

            a {
                color: $white;
                font-size: .875rem;
                text-decoration: none;

                @include on-events {
                    color: $secondary-color;
                }
            }
        }

        .is-active,
        &--expanded.menu-item--active-trail > a {
            color: $secondary-color;
            text-decoration: underline;
        }
    }

    .menu-item--expanded {
        position: relative;

        > a {
            &::after {
                @include vertical-center;
                right: -1rem;
                width: .875rem;
                height: .5rem;
                background: url('../images/icons/arrow-up.png') no-repeat center;
                content: '';
            }
        }

        .menu {
            display: none;
            padding: 1rem 0;

            li {
                display: block;
                padding: 0 0 $global-padding $global-padding * 1.5;
                color: $white;
                font-size: .875rem;
                text-decoration: none;

                @include on-events {
                    color: $secondary-color;
                }
            }
        }

        @include medium-desktop {
            @include on-events {
                .menu {
                    display: block;
                    position: absolute;
                    top: 80px;
                    left: -3.1rem;
                    width: 200px;
                    background-color: rgba(15, 3, 8, .8);
                    text-align: left;
                }
            }
        }
    }

    .share-links {
        &--link {
            background: url($logos-path + 'sprites.png') no-repeat;

            &.facebook {
                background-position: 0 0;

                @include on-events {
                    background-position: 0 0;
                }
            }

            &.google-plus {
                background-position: -49px 0;

                @include on-events {
                    background-position: -49px 0;
                }
            }

            &.twitter {
                background-position: -99px 1px;
            }

            &.linkedin {
                background-position: -148px 0;

                @include on-events {
                    background-position: -148px 0;
                }
            }
        }
    }

    & + nav {
        display: none;
        vertical-align: middle;

        @include medium-desktop {
            display: inline-block;
        }

        a {
            padding: $global-padding * .875;
            border: 2px solid $third-color;
            color: $white;

            @include on-events {
                transition: background-color ease-in .2s;
                background-color: $third-color;
                color: $white;
            }
        }
    }
}

.opened {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, .9);
    overflow: hidden;
    z-index: 9;

    ul {
        padding: $global-padding * .5 0;
        text-align: center;
    }

    li {
        &.menu-item {
            display: block;
            padding: .7rem 0;

            a {
                font-size: $global-padding * 1.125 !important;
            }
        }

    }

    .menu-item--expanded {
        @include tablet {
            position: static;
            left: 0;
            margin: 0 auto;
            text-align: center;
        }
    }
}
