.homepage-twitter {
    margin: $global-margin * 3 0 (-$global-margin * 10);

    @include tablet {
        margin: $global-margin * 6 0 (-$global-margin * 5);
    }

    &--links {
        margin:     0 auto;
        text-align: center;

        @include tablet {
            width: 36rem;
        }

        @include medium-desktop {
            width: 60rem;
        }

        &--action {
            color:       $primary-color;
            font-size:   $global-font-size * 1.6;
            font-weight: $weight-bold;

            @include tablet {
                font-size: $global-font-size * 2;
            }

            @include medium-desktop {
                display:        inline-block;
                width:          40%;
                margin:         0 $global-margin * (-.125);
                font-size:      $global-font-size * 2.375;
                text-align:     right;
                vertical-align: middle;
            }
        }

        &--link {
            @include medium-desktop {
                display:        inline-block;
                width:          40%;
                margin:         0 $global-margin * (-.125);
                text-align:     left;
                vertical-align: middle;
            }

            .twitter-link {
                display:     block;
                margin:      $global-margin * .25 0;
                color:       $primary-color;
                font-size:   $global-font-size * 1.6;
                font-weight: $weight-black;

                @include on-events {
                    color: $secondary-color;
                }

                @include tablet {
                    font-size: $global-font-size * 1.875;
                }
            }

            .twitter-prefix {
                margin-right: $global-margin * (-.3);
                color:        $secondary-color;

                @include tablet {
                    margin-right: $global-margin * (-.425);
                }
            }
        }

        &--logo-wrap {
            margin: $global-margin auto;

            @include medium-desktop {
                display:        inline-block;
                width:          20%;
                margin:         0 $global-margin * (-.125);
                vertical-align: middle;
            }
        }

        &--logo {
            width:           3rem;
            height:          3.25rem;
            margin:          0 auto;
            background:      url($logos-path + 'twitter-logo.png') no-repeat;
            background-size: 3rem;

            @include tablet {
                width:           7.5rem;
                height:          7.75rem;
                background-size: 7.5rem;
            }
        }
    }

    &--action  {
        margin:      $global-margin * 2 auto 0;
        color:       $primary-color;
        font-size:   $global-font-size * 1.6;
        font-weight: $weight-bold;
        text-align:  center;

        @include tablet {
            font-size: $global-font-size * 2;
        }

        @include medium-desktop {
            font-size: $global-font-size * 2.375;
        }
    }
}
