.homepage-parallax {
    position:         relative;
    padding:          0 0 240%;
    background-color: $primary-color;
    overflow:         hidden;

    @include large-mobile {
        padding: 0 0 160%;
    }

    @include medium-desktop {
        padding: 0 0 100%;
    }

    @include extra-large-desktop {
        padding: 0 0 80%;
    }

    &--item {
        @include         position(absolute, 0, -50%, auto, -50%);
        height:          0;
        padding:         0 0 160%;
        background-size: cover;

        @include medium-desktop {
            @include position(absolute, 0, 0, 0, 0);
            padding: 0 0 80%;
        }

        &.item-0 {
            @include          position(absolute, 0, -50%, auto, -50%);
            padding:          0 0 160%;
            background-image: url($homepage-path + 'parallax-0.png');

            @include medium-desktop {
                @include position(absolute, 0, 0, 0, 0);
                padding: 0 0 100%;
            }

            @include extra-large-desktop {
                padding: 0 0 80%;
            }
        }

        &.item-1 {
            background-image: url($homepage-path + 'parallax-1.png');
        }

        &.item-2 {
            background-image: url($homepage-path + 'parallax-2.png');
        }

        &.item-3 {
            background-image: url($homepage-path + 'parallax-3.png');
        }

        &.item-4 {
            background-image: url($homepage-path + 'parallax-4.png');

            @include medium-desktop {
                transform: translate3d(0, 12%, 0);
            }
        }

        &.item-5 {
            transform:        translate3d(0, -9%, 0);
            background-image: url($homepage-path + 'parallax-5.png');
        }
    }
}
