.homepage-parallax {
    position: relative;
    padding:  0 0 200%;
    overflow: hidden;

    @include tablet {
        padding: 0 0 150%;
    }

    @include medium-desktop {
        padding: 0 0 90%;
    }

    &--item {
        @include         position(absolute, 0, -50%, 0, -50%);
        padding:         0 0 200%;
        background-size: cover;

        @include tablet {
            @include position(absolute, 0, -25%, 0, -25%);
            padding: 0 0 150%;
        }

        @include medium-desktop {
            @include position(absolute, 0, 0, 0, 0);
            padding: 0 0 102%;
        }

        &.item-0 {
            background-image: url($homepage-path + 'parallax-0.png');

            @include tablet {
                padding: 0 0 150%;
            }

            @include medium-desktop {
                padding: 0 0 90%;
            }
        }

        &.item-1 {
            background-image: url($homepage-path + 'parallax-1.png');
        }

        &.item-2 {
            background-image: url($homepage-path + 'parallax-2.png');
        }

        &.item-3 {
            background-image: url($homepage-path + 'parallax-3.png');
        }

        &.item-4 {
            background-image: url($homepage-path + 'parallax-4.png');
        }

        &.item-5 {
            transform:        translate3d(0, -8%, 0);
            background-image: url($homepage-path + 'parallax-5.png');
        }
    }
}
