.homepage-intro {
    position: absolute;
    top:      18%;
    width:    100%;

    @include tablet {
        top: 25%;
    }

    @include medium-desktop {
        top: 22%;
    }

    @include extra-large-desktop {
        top: 27%;
    }

    &--logos {
        width:  75%;
        margin: 0 auto;

        &--img {
            width: 25%;
        }

        &--text {
            width: 75%;
            transform: translateY(8%);
        }

        @include tablet {
            width: 50%;
        }

        @include medium-desktop {
            width: 23rem;
        }
    }

    &--details {
        margin:     $global-margin * 1.5 0 0;
        text-align: center;

        @include tablet {
            margin: $global-margin * 3 0 0;
        }

        &--date {
            color:       $white;
            font-size:   $global-font-size * 1.6;
            font-weight: $weight-black;

            @include tablet {
                font-size: $global-font-size * 2.375;
            }
        }

        &--location {
            position:        relative;
            width:           18.125rem;
            height:          3.5rem;
            margin:          $global-margin * 1.25 auto 0;
            background:      url($homepage-path + 'location-flag.png') no-repeat;
            background-size: 18.125rem;
            color:           $primary-color;
            font-size:       $global-font-size * 1.2;
            font-weight:     $weight-black;
            line-height:     $global-line-height * 2.2;

            @include tablet {
                width:           31.25rem;
                height:          5.635rem;
                background-size: 31.25rem;
                font-size:       $global-font-size * 2;
            }
        }
    }

    &--interested-form {
        margin: 18% auto 0;

        @include tablet {
            margin: 10% auto 0;
        }

        @include medium-desktop {
            width:  80%;
            margin: 5% auto 0;
        }

        @include large-desktop {
            margin: 10% auto 0;
        }

        @include extra-large-desktop {
            margin: 15% auto 0;
        }

        &--intro {
            margin:     0 0 $global-margin * 1.5;
            text-align: center;

            @include tablet {
                margin:  0 0 5%;
                padding: 0 $global-padding * 2.5;
            }

            h2 {
                position:  relative;
                margin:    0 auto $global-margin * 2;
                font-size: $global-font-size * 1.6;

                @include tablet {
                    width:     50%;
                    margin:    0 auto $global-margin * 3.75;
                    font-size: $global-font-size * 2.375;
                }

                @include medium-desktop {
                    width: 50%;
                }

                @include large-desktop {
                    width: 45%;
                }

                &::after {
                    @include       position(absolute, auto, 38%, -1rem, 38%);
                    border-bottom: .25rem solid $secondary-color;
                    content:       '';

                    @include tablet {
                        bottom:       -1.5rem;
                        border-width: .5rem;
                    }
                }
            }

            p {
                margin:    0;
                font-size: $global-font-size * .875;

                @include tablet {
                    font-size:   $global-font-size;
                    line-height: $global-line-height * 1.8;
                }
            }
        }

        input,
        button {
            display:   inline-block;
            height:    3rem;
            color:     $white;
            font-size: $global-font-size * 1.25;

            @include tablet {
                height:  3.75rem;
                margin:  0 $global-margin * (-.125);
            }
        }

        input {
            &[type='email'] {
                width:            100%;
                padding:          $global-padding * .5 $global-padding * 1.25;
                border:           1px solid $white;
                background-color: $primary-color;

                @include tablet {
                    width:   60%;
                    padding: $global-padding $global-padding * 1.25;
                }

                @include medium-desktop {
                    width: 65%;
                }
            }
        }

        button {
            &[type='submit'] {
                position:         relative;
                width:            100%;
                margin:           $global-margin 0;
                padding:          $global-padding * .5 $global-padding * 1.25;

                &::before {
                    @include         position(absolute, .5rem, auto, auto, 1.25rem);
                    width:           3rem;
                    height:          2rem;
                    background:      url($logos-path + 'form-submit-logo.png') no-repeat;
                    background-size: 3rem;
                    content:         '';

                    @include tablet {
                        top:    .8rem;
                        width:  3.75rem;
                        height: 2.1875rem;
                        background-size: 3.75rem;
                    }
                }

                @include tablet {
                    width:      40%;
                    margin:     0 $global-margin * (-.125);
                    padding:    $global-padding $global-padding * 1.25 $global-padding $global-padding * 6.25;
                    text-align: left;
                }

                @include medium-desktop {
                    width: 35%;
                }
            }
        }
    }
}
