.location-intro {
    .section-intro {
        &-title {
            width:           9.375rem;
            height:          6rem;
            background:      url($logos-path + 'the-office-logo.png') no-repeat;
            background-size: 9.375rem;
            font-size:       0;

            @include tablet {
                width:           9.375rem;
                height:          6rem;
                background-size: 9.375rem;
            }
        }
    }
}
