.my-profile {
    @include horizontal-center;
    top: 12%;
    width: 100%;
    max-width: 785px;
    min-height: 300px;
    background-color: $white;
    font-family: $font-main;
    z-index: 1;

    p {
        color: $black;
    }

    @include tablet {
        top: 38%;
    }

    &--edit {
        padding: $global-padding * 1.25 $global-padding * 1.3;
        text-align: right;
    
        a {
            padding-left: 30px;
            background: url($icons-path+'edit.png') no-repeat 3% 10% / contain;
            color: $primary-color-faded;
            font-size: 14px;
    
            @include on-events {
                text-decoration: underline;
            }
        }
    }
}

.my-profile-info {
    padding: 0;
    font-size: 0;

    @include tablet {
        padding: 0 $global-padding * 4 $global-padding * 2;
    }

    &--left,
    &--right {
        display: inline-block;
        vertical-align: top;
    }

    &--left {
        width: 100%;
        margin-bottom: $global-margin * 2;
    
        @include tablet {
            width: 25%;
            text-align: center;
        }
    
        button {
            display: block;
            width: 50%;
            margin: 0 auto 1rem;
            padding: $global-padding * .625 0;
            background-color: $community-color;
            font-size: 14px;
            font-weight: $weight-regular;
    
            @include tablet {
                width: 100%;
                margin-bottom: $global-margin;
            }
        }
    }

    &--image {
        width: 30%;
        margin: 0 auto;
    
        @include tablet {
            width: 100%;
        }
    }
    
    &--username {
        padding: $global-padding * 1.5 0;
        text-align: center;
    
        p {
            margin-bottom: 0;
            color: $community-color;
            font-weight: $weight-medium;
        }
    }
    
    &--right {
        width: 100%;
        margin-bottom: $global-margin * 2;
        padding: $global-padding * 1.625 $global-padding * 2.5 0;
    
        @include tablet {
            width: 75%;
            padding: $global-padding * 1.625 0 0 $global-padding * 3;
        }

        a {
            text-decoration: underline;
        }
    }

    &--fullname {
        text-align: center;

        @include tablet {
            text-align: left;
        }

        h2 {
            position: relative;
            color: $community-color;
            font-size: 1.75rem;
            font-weight: $weight-medium;

            &::after {
                display: block;
                width: 5.25rem;
                margin: $global-padding * .875 auto;
                border-bottom: .55rem solid $secondary-color;
                content: '';

                @include tablet {
                    margin: .875rem 0;
                }
            }
        }
    }

    &--role {
        font-style: normal;
        font-weight: $weight-medium;
        text-align: center;

        @include tablet {
            text-align: left;
        }
    }

    &--bio {
        p {
            color: $primary-color;
            font-size: .875rem;
            font-style: italic;
        }
    }

    &--details {
        margin-top: $global-margin * 3;

        .my-profile-details--row {
            margin: 0;
            font-size: 0;
        }

        .my-profile-details--col {
            width: 100%;
            padding-left: 0;
            text-align: center;

            @include large-mobile {
                display: inline-block;
                width: 50%;
                text-align: left;
            }

            &:nth-child(even) {
                color: $primary-color-faded;
                font-weight: $weight-medium;
            }

            &:nth-child(odd) {
                color: $primary-color;
                font-weight: $weight-regular;
            }
        }
    }
}
