.small-title-block {
    padding: 0 $global-padding;

    @include tablet {
        padding: 0;
    }

    &--title {
        margin:      0 0 $global-margin * 1.5;
        padding:     $global-padding * 1.5 0 0;
        border-top:  1px solid $light-border;
        color:       $primary-color;
        font-size:   $global-font-size * 1.5;
        font-weight: $weight-medium;
        line-height: $global-line-height * 1.2;
        text-align:  center;

        @include tablet {
            margin:  0 0 $global-margin * 2.75;
            padding: $global-padding * 3 0 0;
        }
    }

    &--text {
        margin: 0 auto $global-margin * 4;
        max-width: 75%;

        p {
            color:       $primary-color;
            font-size:   $global-font-size * .875;
            text-align:  left;

            @include tablet {
                margin:    0 auto $global-margin * 4;
            }
        }
    }
}
