.sponsors-contact {
    &--form-title {
        margin:      0 0 $global-margin * 1.5;
        color:       $primary-color;
        font-size:   $global-font-size * 1.5;
        font-weight: $weight-medium;
        line-height: $global-line-height * 1.2;
        text-align:  center;

        @include tablet {
            margin: 0 0 $global-margin * 2.75;
        }
    }

}

.contact-form {
    margin:     0 auto $global-margin * (-10);
    padding:    0 $global-padding;
    text-align: left;

    @include tablet {
        max-width: 75%;
        margin:    0 auto $global-margin * (-15);
        padding:   0;
    }

    @include medium-desktop {
        max-width: 40%;
    }

    label,
    legend {
        display:    inline-block;
        position:   relative;
        padding:    0 0 $global-padding * .2;
        font-size:  $global-font-size * .875;
    }

    input,
    textarea,
    select {
        width: 100%;
    }

    input {
        &[type*='submit'] {
            @include tablet {
                width:   65%;
            }
        }

        &[data-drupal-selector*='edit-preview'] {
            display: none;
        }
    }

    .form-type-radio {
        width: 50%;
        float: left;

        input {
            &[type*='radio'] {
                display:     none;
                padding:     0;

                & + label {
                    padding:    $global-padding * .45 0;
                    border:     1px solid $primary-color-faded;
                    text-align: center;
                    cursor:     pointer;
                }
            }

            &:checked + label {
                border-color:     $secondary-color;
                background-color: $secondary-color;
                color:            $white;
            }
        }
    }

    .form-wrapper {
        margin: 0 0 $global-margin * 1.5;
    }

    .form-actions {
        margin-top: $global-margin * 2.75;
        text-align: center;
    }

    .description {
        display: none;
    }
}

.proposal-form-container {
    margin-top: 7rem;

    .contact-form {
        .field-add-more-submit-wrapper {
            float: right;
        }

        .session-selection,
        .session-duration {
            display: inline-block;
            width: 50%;
            margin: 0 -.1rem 1.5rem;
        }

        .session-selection {
            .form-item-field-select-list {
                margin-right: 1rem;
            }
        }

        .session-duration {
            padding-left: 1rem;

            label {
                width: 100%;
            }
        }

        .session-level {
            .form-type-radio {
                width: 33.33%;

                label {
                    width: 100%;
                }
            }
        }

        .field--widget-boolean-checkbox {
            input {
                width: auto;
                padding-right: 1rem;
            }

            input,
            label {
                display: inline-block;
                vertical-align: middle;

            }
        }
    }
}
