.contact-form {
    margin-top: 4rem;

    .form-two-column {
        .form-wrapper {
            input,
            label,
            select,
            fieldset,
            #edit-field-gender--wrapper,
            #edit-field-country-0-value {
                width: 100%;
            }

            fieldset,
            .form-type-password {
                margin: 0;
            }
        }
    }

    #edit-field-drupal-org-username-wrapper {
        div {
            margin-top: 0;
        }
    }

    .image-preview {
        width: 85px;
        height: 85px;
    }

    .image-widget-data {
        margin-bottom: 1.5rem;
        text-align: center;
        margin-bottom: 1.5rem;

        label {
            text-align: left;
        }

        .form-submit {
            margin-top: 1.5rem;
        }
    }

    .form-item--error-message {
        margin: 1.5rem 0;
        background: #ffcccc;
        padding: 10px 5px;

        &::before{
            display: none;
        }
    }

    @include tablet {
        .form-two-column {
            & > :nth-child(odd) {
                margin-right: 1rem;
            }

            & > :nth-child(even) {
                margin-left: 1rem;
            }

            .form-wrapper {
                display: inline-block;
                width: calc(50% - 1.2rem);
                vertical-align: top;
            }
        }
    }

    .description {
        margin-top: 5px;
    }
}

.field-container {
    width: 100%;
}
