.user-register-form {
    margin-top: 4rem;
}

@include tablet {
    .form-two-column {
        & > :nth-child(odd) {
            margin-right: 1rem;
        }

        & > :nth-child(even) {
            margin-left: 1rem;
        }

        .form-wrapper {
            display: inline-block;
            width: calc(50% - 1.2rem);
            vertical-align: top;        
            
            input,
            label,
            select,
            #edit-field-gender {
                width: 100%;
            }
        }
    }
}

.field-container {
    width: 100%;
}
