<html>
    <body>
        <p>You received a ticket for Drupal Camp Transylvania!</p>
        <p>Your ticket code is :{{ code }}</p>
        <p>Click here to redeem the ticket: {{ redeem_link }}</p>
    </body>
</html>
