<html>
    <body>
        <p>You received a coupon for Drupal Camp Transylvania!</p>
        <p>Your coupon code is :{{ code }}</p>
        <p>Click here to redeem your coupon: {{ redeem_link }}</p>
    </body>
</html>
