<div>
    <img src="/{{ directory }}/images/backgrounds/small-header.png"
         alt="background">
</div>

<div class="session-schedule-content">
    <div class="large-title-block title">
        <h2>Event Schedule</h2>
    </div>
    <div class="scheduler-container">
        <div class="day-tabs-container">
            <div class="day-tab active-tab" data-tab="friday">Friday</div>
            <div class="day-tab" data-tab="saturday">Saturday</div>
            <div class="day-tab" data-tab="sunday">Sunday</div>
        </div>
        <div class="mobile-room-slider">
            <div class="mobile-room-slider--item">Room 1</div>
            <div class="mobile-room-slider--item">Conference Room</div>
            <div class="mobile-room-slider--item">Room 2</div>
        </div>
        <div class="day-tab-content active-tab-content" id="friday">
            <div class="conference-opening">
                <div class="conference-opening--hours">10:00-11:00</div>
                <div class="conference-opening--title">
                    <p>Conference opening</p>
                </div>
            </div>
            <div class="day-schedule">
                {% for room in sessions %}
                {% if loop.first %}
                    {% set classes = 'active-room' %}
                {% else %}
                    {% set classes = '' %}
                {% endif %}
                <div class="room-schedule room-1 {{ classes }}">
                    {% for session in room %}
                        {{ session }}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="day-tab-content" id="saturday">
            <div class="day-schedule">
                <div class="room-schedule room-1">
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 1</div>
                            <div class="schedule-item--hours">11:00-11:45</div>
                        </div>
                        <div class="schedule-item--title">Headless Sat Drupal
                        </div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Digital Ambitious
                                Experiences
                            </div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 1</div>
                            <div class="schedule-item--hours">12:00-13:00</div>
                        </div>
                        <div class="schedule-item--title">Functional testing at
                            VRT
                        </div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">DevOps</div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item break-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--hours">13:00-14:30</div>
                        </div>
                        <div class="break-item--title">
                            <p>Lunch Break</p>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 1</div>
                            <div class="schedule-item--hours">15:00-15:40</div>
                        </div>
                        <div class="schedule-item--title">Headless Drupal</div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Digital Ambitious
                                Experiences
                            </div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 1</div>
                            <div class="schedule-item--hours">15:45-16:25</div>
                        </div>
                        <div class="schedule-item--title">Functional testing at
                            VRT
                        </div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">DevOps</div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item break-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--hours">16:30-17:00</div>
                        </div>
                        <div class="break-item--title">
                            <p>Coffee Break</p>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 1</div>
                            <div class="schedule-item--hours">17:00-17:40</div>
                        </div>
                        <div class="schedule-item--title">Functional testing at
                            VRT
                        </div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">DevOps</div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                </div>
                <div class="room-schedule room-2">
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Conference room
                            </div>
                            <div class="schedule-item--hours">11:00-12:00</div>
                        </div>
                        <div class="schedule-item--title">Shopify to build a
                            simple e-commerce solution with Drupal 8
                        </div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Back-End
                                Development
                            </div>
                            <div class="schedule-item--save item-saved"></div>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Conference room
                            </div>
                            <div class="schedule-item--hours">12:00-12:40</div>
                        </div>
                        <div class="schedule-item--title">Is what you've coded
                            what you mean?
                        </div>
                        <div class="schedule-item--speaker">Dustin Younse</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Horizons</div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item break-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--hours">13:00-14:30</div>
                        </div>
                        <div class="break-item--title">
                            <p>Lunch Break</p>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Conference room
                            </div>
                            <div class="schedule-item--hours">15:00-16:30</div>
                        </div>
                        <div class="schedule-item--title">Shopify to build a
                            simple e-commerce solution with Drupal 8
                        </div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Back-End
                                Development
                            </div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item break-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--hours">16:30-17:00</div>
                        </div>
                        <div class="break-item--title">
                            <p>Coffee Break</p>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Conference room
                            </div>
                            <div class="schedule-item--hours">17:00-18:00</div>
                        </div>
                        <div class="schedule-item--title">Is what you've coded
                            what you mean?
                        </div>
                        <div class="schedule-item--speaker">Dustin Younse</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Horizons</div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                </div>
                <div class="room-schedule room-3">
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 2</div>
                            <div class="schedule-item--hours">11:00-11:25</div>
                        </div>
                        <div class="schedule-item--title">Headless Drupal</div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Horizons</div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 2</div>
                            <div class="schedule-item--hours">11:30-11:55</div>
                        </div>
                        <div class="schedule-item--title">How will new EU data
                            protection law (GDPR) affect your business?
                        </div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Core
                                Conversations
                            </div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 2</div>
                            <div class="schedule-item--hours">12:00-12:25</div>
                        </div>
                        <div class="schedule-item--title">Is what you've coded
                            what you mean?
                        </div>
                        <div class="schedule-item--speaker">Dustin Younse</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Front-End
                                Development
                            </div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 2</div>
                            <div class="schedule-item--hours">12:30-12:55</div>
                        </div>
                        <div class="schedule-item--title">How will new EU data
                            protection law (GDPR) affect your business?
                        </div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block rating-active"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Core
                                Conversations
                            </div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item break-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--hours">13:00-14:30</div>
                        </div>
                        <div class="break-item--title">
                            <p>Lunch Break</p>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 2</div>
                            <div class="schedule-item--hours">15:00-16:25</div>
                        </div>
                        <div class="schedule-item--title">Is what you've coded
                            what you mean?
                        </div>
                        <div class="schedule-item--speaker">Dustin Younse</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Front-End
                                Development
                            </div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item break-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--hours">16:30-17:00</div>
                        </div>
                        <div class="break-item--title">
                            <p>Coffee Break</p>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 2</div>
                            <div class="schedule-item--hours">17:00-17:40</div>
                        </div>
                        <div class="schedule-item--title">How will new EU data
                            protection law (GDPR) affect your business?
                        </div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block rating-active"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Core
                                Conversations
                            </div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="day-tab-content" id="sunday">
            <div class="day-schedule">
                <div class="room-schedule room-1">
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 1</div>
                            <div class="schedule-item--hours">11:00-11:45</div>
                        </div>
                        <div class="schedule-item--title">Headless Sun Drupal
                        </div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Digital Ambitious
                                Experiences
                            </div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 1</div>
                            <div class="schedule-item--hours">12:00-13:00</div>
                        </div>
                        <div class="schedule-item--title">Functional testing at
                            VRT
                        </div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">DevOps</div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item break-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--hours">13:00-14:30</div>
                        </div>
                        <div class="break-item--title">
                            <p>Lunch Break</p>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 1</div>
                            <div class="schedule-item--hours">15:00-15:40</div>
                        </div>
                        <div class="schedule-item--title">Headless Drupal</div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Digital Ambitious
                                Experiences
                            </div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 1</div>
                            <div class="schedule-item--hours">15:45-16:25</div>
                        </div>
                        <div class="schedule-item--title">Functional testing at
                            VRT
                        </div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">DevOps</div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item break-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--hours">16:30-17:00</div>
                        </div>
                        <div class="break-item--title">
                            <p>Coffee Break</p>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 1</div>
                            <div class="schedule-item--hours">17:00-17:40</div>
                        </div>
                        <div class="schedule-item--title">Functional testing at
                            VRT
                        </div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">DevOps</div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                </div>
                <div class="room-schedule room-2">
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Conference room
                            </div>
                            <div class="schedule-item--hours">11:00-12:00</div>
                        </div>
                        <div class="schedule-item--title">Shopify to build a
                            simple e-commerce solution with Drupal 8
                        </div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Back-End
                                Development
                            </div>
                            <div class="schedule-item--save item-saved"></div>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Conference room
                            </div>
                            <div class="schedule-item--hours">12:00-12:40</div>
                        </div>
                        <div class="schedule-item--title">Is what you've coded
                            what you mean?
                        </div>
                        <div class="schedule-item--speaker">Dustin Younse</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Horizons</div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item break-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--hours">13:00-14:30</div>
                        </div>
                        <div class="break-item--title">
                            <p>Lunch Break</p>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Conference room
                            </div>
                            <div class="schedule-item--hours">15:00-16:30</div>
                        </div>
                        <div class="schedule-item--title">Shopify to build a
                            simple e-commerce solution with Drupal 8
                        </div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Back-End
                                Development
                            </div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item break-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--hours">16:30-17:00</div>
                        </div>
                        <div class="break-item--title">
                            <p>Coffee Break</p>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Conference room
                            </div>
                            <div class="schedule-item--hours">17:00-18:00</div>
                        </div>
                        <div class="schedule-item--title">Is what you've coded
                            what you mean?
                        </div>
                        <div class="schedule-item--speaker">Dustin Younse</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Horizons</div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                </div>
                <div class="room-schedule room-3">
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 2</div>
                            <div class="schedule-item--hours">11:00-11:25</div>
                        </div>
                        <div class="schedule-item--title">Headless Drupal</div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Horizons</div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 2</div>
                            <div class="schedule-item--hours">11:30-11:55</div>
                        </div>
                        <div class="schedule-item--title">How will new EU data
                            protection law (GDPR) affect your business?
                        </div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Core
                                Conversations
                            </div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 2</div>
                            <div class="schedule-item--hours">12:00-12:25</div>
                        </div>
                        <div class="schedule-item--title">Is what you've coded
                            what you mean?
                        </div>
                        <div class="schedule-item--speaker">Dustin Younse</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Front-End
                                Development
                            </div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 2</div>
                            <div class="schedule-item--hours">12:30-12:55</div>
                        </div>
                        <div class="schedule-item--title">How will new EU data
                            protection law (GDPR) affect your business?
                        </div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block rating-active"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Core
                                Conversations
                            </div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item break-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--hours">13:00-14:30</div>
                        </div>
                        <div class="break-item--title">
                            <p>Lunch Break</p>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 2</div>
                            <div class="schedule-item--hours">15:00-16:25</div>
                        </div>
                        <div class="schedule-item--title">Is what you've coded
                            what you mean?
                        </div>
                        <div class="schedule-item--speaker">Dustin Younse</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block"></div>
                            <div class="schedule-item--rating-block"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Front-End
                                Development
                            </div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                    <div class="schedule-item break-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--hours">16:30-17:00</div>
                        </div>
                        <div class="break-item--title">
                            <p>Coffee Break</p>
                        </div>
                    </div>
                    <div class="schedule-item">
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--room">Room 2</div>
                            <div class="schedule-item--hours">17:00-17:40</div>
                        </div>
                        <div class="schedule-item--title">How will new EU data
                            protection law (GDPR) affect your business?
                        </div>
                        <div class="schedule-item--speaker">Ruber Teijeiro</div>
                        <div class="schedule-item--difficulty">
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block rating-active"></div>
                            <div class="schedule-item--rating-block rating-active"></div>
                        </div>
                        <div class="schedule-item--detail-row">
                            <div class="schedule-item--topic">Core
                                Conversations
                            </div>
                            <div class="schedule-item--save"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>