<div>
    <img src="/{{ directory }}/images/backgrounds/small-header.png" alt="background">
</div>

<div class="my-profile">
    <div class="my-profile-info">
        <div class="my-profile-info--fullname">
            <h2>{{ title }}</h2>
        </div>
        <div class="my-profile-info--bio">
            <p>{{ description }}</p>
        </div>
        <div class="confirmation-link">
            {{ link }}
        </div>
    </div>
</div>