<div class="confirmation-content-wrapper">
    <div>
        <img src="/{{ directory }}/images/backgrounds/location-intro.png" alt="image">
    </div>
    <div class="centered-text-container">
        <p class="title">{{ title }}</p>
        <p>{{ description }}</p>
        <button type="button">{{ link['#url'] }}</button>
    </div>
</div>
