html {
    font-size: 100%;
}

body {
    background-color: $white;
    color:            $primary-color;
    font-family:      $font-main;
    font-size:        $global-font-size;
    line-height:      $global-line-height;
}

a {
    @include         disable-outline;
    color:           $primary-color;
    text-decoration: none;

    @include on-events {
        color: $secondary-color;
    }
}

img {
    display: block;
    width:   100%;
}

p {
    margin:      0 0 $global-margin * 1.4;
    color:       $white;
    font-size:   $global-font-size * .75;
    line-height: $global-line-height * 1.4;
}

h1 {
    color:     $white;
    font-size: $global-font-size * 1.5;
}

h2 {
    color:       $secondary-color;
    font-size:   $global-font-size * .875;
    font-weight: $weight-bold;
}

input,
button {
    @include     disable-outline;
    font-family: $font-main;
}

button {
    padding:          0;
    border:           0;
    background-color: $secondary-color;
    color:            $white;
    cursor:           pointer;

    @include on-events {
        background-color: $third-color;
    }
}

main {
    position: relative;
    z-index:  1;
}
