@mixin vertical-center {
    position:            absolute;
    top:                 50%;
    transform:           translate3d(0, -50%, 0);
    backface-visibility: hidden;
}

@mixin horizontal-center {
    position:            absolute;
    left:                50%;
    transform:           translate3d(-50%, 0, 0);
    backface-visibility: hidden;
}

@mixin clearfix {
    &::before,
    &::after {
        display: table;
        content: '';
    }

    &::after {
        clear: both;
    }
}

@mixin disable-outline {
    &:focus {
        outline: 0;
    }
}

@mixin tablet {
    @media all and (min-width: #{$tablet-breakpoint}) {
        @content;
    }
}

@mixin medium-desktop {
    @media all and (min-width: #{$medium-desktop-breakpoint}) {
        @content;
    }
}

@mixin large-desktop {
    @media all and (min-width: #{$large-desktop-breakpoint}) {
        @content;
    }
}


@mixin on-events($self: false) {
    @if $self {
        &,
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    } @else {
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    }
}

@mixin position($position: null, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top:      $top;
    right:    $right;
    bottom:   $bottom;
    left:     $left;
}

@mixin box-shadow($left, $top, $blur, $color, $inset: false) {
    @if $inset {
        box-shadow: inset $left $top $blur $color;
    } @else {
        box-shadow: $left $top $blur $color;
    }
}
