// Typography
$font-main: 'Roboto', sans-serif;
$global-font-size: 1rem;
$global-line-height: 1.2;
$weight-regular: 400;
$weight-bold: 700;
$weight-black: 900;

// Colors
$black: #000;
$white: #fff;
$primary-color: #200f17;
$secondary-color: #fcb02a;
$third-color: #9f1a46;
$fourth-sponsor: #720d34;
$header-color: #0f0308;

// Layout
$global-margin: 1rem;
$global-padding: 1rem;

// Breakpoints
$tablet-breakpoint: 48em;
$desktop-breakpoint: 64em;

// Paths
$icons-path: '../images/icons/';
$logos-path: '../images/logos/';
$backgrounds-path: '../images/backgrounds/';
$homepage-path: '../images/homepage/';
