// Typography
$font-main: 'Roboto', sans-serif;
$global-font-size: 1rem;
$global-line-height: 1.2;

// Colors
$black: #000;
$white: #fff;
$primary-color: #200f17;
$secondary-color: #fcb02a;
$gold-sponsor: #9f1a46;
$silver-sponsor: #720d34;

// Layout
$global-margin: 1rem;
$global-padding: 1rem;

// Breakpoints
$tablet-breakpoint: 40em;
$desktop-breakpoint: 64em;

// Paths
$icons-path: '../images/icons/';
$logos-path: '../images/logos/';
$backgrounds-path: '../images/backgrounds/';
