// Typography
$font-main: 'Roboto', sans-serif;
$global-font-size: 1rem;
$global-line-height: 1;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-black: 900;

// Colors
$black: #000;
$white: #fff;
$primary-color: #200f17;
$secondary-color: #fcb02a;
$third-color: #9f1a46;
$fourth-color: #720d34;
$section-bg-color: #f6f6f6;
$diamond-color: #9cd1d3;
$community-color: #600f2c;
$header-color: #0f0308;
$box-shadow: #e2e2e2;
$light-border: #e9e9e9;
$primary-color-faded: rgba($primary-color, .2);
$secondary-color-faded: rgba($secondary-color, .2);
$third-color-faded: rgba($third-color, .2);
$fourth-color-faded: rgba($fourth-color, .2);
$diamond-color-faded: rgba($diamond-color, .2);

// Layout
$global-margin: 1rem;
$global-padding: 1rem;

// Breakpoints
$large-mobile-breakpoint: 30em;
$tablet-breakpoint: 48em;
$medium-desktop-breakpoint: 64em;
$large-desktop-breakpoint: 75em;
$extra-large-desktop-breakpoint: 100em;

// Paths
$icons-path: '../images/icons/';
$logos-path: '../images/logos/';
$backgrounds-path: '../images/backgrounds/';
$homepage-path: '../images/homepage/';
