<p class="footer--sponsor--intro">{{ "Drupal community hosting powered by"|t }}</p>
<a href="{{ link }}" title="Platform">
    <img src="/{{ directory }}/images/logos/platform-logo.png" alt="Acquia" class="footer--sponsor--image">
</a>
