<p class="footer--sponsor--intro">{{ "Drupal community hosting powered by" | t }}</p>
<a href="{{ link }}" title="Acquia">
    <img src="/{{ base_path ~ directory }}/images/logos/acquia-logo.png" alt="Acquia" class="footer--sponsor--image">
</a>
