<div>
    <img src="/{{ directory }}/images/backgrounds/small-header.png"
         alt="background">
</div>

<article{{ attributes.addClass('bought-tickets') }}>
    <div class="my-profile">
        <div class="my-profile--back">
            <a href="/buy-tickets">{{ "Buy tickets"|t }}</a>
        </div>
        <div class="redeem-message">
            {{ "Your shopping cart is empty."|t }}
        </div>
    </div>
</article>
