<div class="homepage-intro--interested-form">
    <div class="homepage-intro--interested-form--intro title-block">
        <h2>{{ 'Subscribe to our Newsletter'|t }}</h2>
        <p>{{ 'Subscribe in order to keep up with the latest news.' }}</p>
    </div>

    {% block content %}
        {{ content }}
    {% endblock %}
</div>
