<div class="homepage-welcome--map">
  <div class="large-title-block">
    <h3>{{ "Organizing partners" }}</h3>
  </div>
  <div class="organizational-sponsors">
    <div class="sponsor">
      <img src="/{{ directory }}/images/sponsors/dr-as-org.png" alt="Drupal Association Romania">
    </div>
    <div class="sponsor">
      <img src="/{{ directory }}/images/sponsors/pi-org.png" alt="PitechPlus">
    </div>
  </div>
</div>
