<div class="homepage-intro--interested-form">
    <div class="homepage-intro--interested-form--intro large-title-block">
        <h2>{{ "Subscribe to our Newsletter"|t }}</h2>
        <p>{{ description }}</p>
    </div>
    {{ form }}
</div>
