{% if sponsors %}
    <p class="diamond-sponsor-text">{{ "Sponsored by"|t }}</p>
    <div class="sponsors-wrapper">
        {% for sponsor in sponsors %}
            <a href="{{ sponsor.link }}"><img src="{{ sponsor.image }}" alt="sponsor brand" class="sponsor-logo"></a>
        {% endfor %}
    </div>
{% endif %}
