.paragraphs-item-description-and-image,
.paragraphs-item-image-and-description {
  clear: both;
  margin-bottom: 70px;
}

.paragraphs-item-description-and-image .group-image img,
.paragraphs-item-image-and-description .group-image img{
  width: 100%;
  height: auto;
}