@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

body {
  font-family: 'Roboto Condensed', sans-serif;
}

/***** Header *****/
#header {
  height: 220px;
  background: url("../images/header_bg.png") no-repeat center;
}


/***** Footer *****/
#footer {
  background: url("../images/footer_bg.png") no-repeat top center;
  background-size: cover;
  clear: both;
  padding-top: 100px;
  color: #fff;
  font-size: 20px;
  padding-bottom: 50px;
  text-align: center;
}

#footer .dt-logo{
  margin-bottom: 135px;
}

#footer .count{
  margin-bottom: 30px;
}

#footer p{
  margin: 0;
}

#footer .aq-logo{
  margin-bottom: 30px;
}