.not-front .region-content {
  padding-top: 70px;
}

/* News Page */
.page-news .views-row {
  margin-bottom: 70px;
}

.page-news .views-field-field-image img {
  border: 2px solid #ccc;
}

.page-news .views-field-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.page-news .views-field-created {
  margin-bottom: 10px;
  font-size: 16px;
}

.page-news .views-more-link {
  border-radius: 5px;
  line-height: 35px;
  display: inline-block;
  padding: 0 10px;
  background: #243F6D;
  border: 1px solid #556581;
  box-shadow: 0 0 1px rgba(0,0,0,0.8);
  color: #fff !important;
  font-size: 17px;
}

.page-news .views-more-link:hover,
.page-news .views-more-link:focus {
  background: #162A4C;
  text-decoration: none;
}

/* User Page */
.page-user {

}

.page-user .profile .field-name-field-user-image img{
  width: 200px;
  height: auto;
}

.page-user .field {
  margin-bottom: 10px;
}

/* Page Sponsorssss */
.page-sponsors .desktop-packages td {
  background: #fff;
}

.page-sponsors .desktop-packages td:nth-of-type(2) {
  background: #FFF0F0;
}

.page-sponsors .desktop-packages td:nth-of-type(3) {
  background: #F1F1F1;
}

.page-sponsors .desktop-packages td:nth-of-type(4) {
  background: #FFF9E9;
}

.page-sponsors .desktop-packages td:nth-of-type(5) {
  background: #F0F7FF;
}

.page-sponsors .pane-contact {
  width: 400px;
  margin: auto;
}

.page-taxonomy-term #content p{
  display: none;
}

.page-taxonomy-term #content .term-listing-heading p{
  display: block;
}

.page-taxonomy-term .field-name-field-logo img {
  width: 100%;
  height: auto;
}

.page-sponsors .mobile-packages,
.page-sponsors .mobile-note {
  display: none;
}
 
@media screen and (max-width: 767px) {

  .page-sponsors .desktop-packages {
    display: none;
  }

  .page-sponsors .mobile-packages {
    display: table;
  }

  .page-sponsors .mobile-note {
    display: block;
    font-size: 12px;
    color: #666;
  }

  .page-sponsors .pane-contact {
    width: auto;
  } 
}

/* Program */

.page-program table {
  width: 30%;
  margin-right: 5%;
  float: left;
  margin-bottom: 20px;
}

.page-program #program-table-sunday {
  margin-right: 0;
}


#program-tables:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.page-program .white-txt {
    color: #fff;
}

@media screen and (min-width: 1024px) {
  .page-program .pane-form{
    width: 60%;
    margin: auto;
  }
}

@media screen and (max-width: 1023px) {
  .page-program table {
    width: 100%;
    margin-right: 0;
    float: none;
    margin-bottom: 20px;
  }
}

.page-program .view-proposed-sessions #edit-field-type-tid-wrapper .description{
  display: none;
}

.page-program .view-proposed-sessions #edit-submit-proposed-sessions {
  margin-top: 22px;
}

.page-program .filter-guidelines {
  display: none;
}

/* ticket */
.page-node-6 .form-radios, .page-node-151 .form-radios, .page-node-151 .form-select{
  clear: both;
  padding-left: 15px;
} 

.page-node-6 .form-radios .form-type-radio label,
.page-node-151 .form-radios .form-type-radio label,
.page-node-151 .form-type-select .form-select {
  font-size: 18px;
}

.page-node-6 .form-radios .form-type-radio,
.page-node-151 .form-radios .form-type-radio,
.page-node-151 .form-type-select .form-select {
  margin-bottom: 20px;
}

.page-node-6 .commerce-price-savings-formatter-prices,
.page-node-151 .commerce-price-savings-formatter-prices {
  border: 0;  
  margin: 0 0 0 -10px;
}

.page-node-6 .commerce-price-savings-formatter-prices tr,
.page-node-151 .commerce-price-savings-formatter-prices tr {
  border: 0;
}

.page-node-6 .commerce-price-savings-formatter-prices td,
.page-node-151 .commerce-price-savings-formatter-prices td {
  border: 0;
  background: 0;
  font-size: 30px;
}

.page-node-6 .submit-add-to-cart,
.page-node-151 .submit-add-to-cart {
  padding-left: 10px;
  padding-top: 30px;
}

.page-node-6 p.small-note,
.page-node-151 p.small-note {
  font-size:  14px;
  line-height: 20px;
  margin-top: 30px;
}
.page-node-151 .form-type-radios label:first-child,
.page-node-151 .form-type-select label:first-child {
  clear: both;
  font-size: 30px;
  padding-left: 15px;
}
.page-node-151 .commerce-product-field-commerce-price {
    display: none;
}
.page-node-151 .commerce-add-to-cart .field-name-commerce-price {
    padding-left: 15px;
    margin-top: -10px;
}
/* Attendees page */
.page-attendees {

}

.page-attendees .views-row {
  text-align: center;
  height: 250px;
  margin-bottom: 20px;
}

.page-attendees .views-field-field-user-image img{
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 3px solid #dedede;
  position: relative;
}

.page-attendees .views-field-field-user-image:after{
  position: absolute;
  top: 0;
  right: 30px;
  font-family: "FontAwesome";
  display: block;
  width: 30px;
  height: 30px;
  font-size: 25px;
  line-height: 1;
  text-align: center;
  z-index: 100;
}

.page-attendees .user-organizer:after {
  content: "\f013";
  color: #006D92;
}


.page-attendees .user-individual-sponsor:after {
  content: "\f153";
  color: #FF8B0B;
}

.page-attendees .views-field-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.page-attendees .views-field-field-country-country,
.page-attendees .views-field-field-country-locality {
  font-size: 13px;
}

/* Proposed sessions */

.page-proposed-session {

}

.page-sessions .views-exposed-form,
.page-proposed-session .views-exposed-form {
  margin-bottom: 80px;
}

.page-sessions .views-exposed-form .description,
.page-proposed-session .views-exposed-form .description {
  display: none;
}

.page-sessions .views-exposed-widget .form-submit,
.page-proposed-session .views-exposed-widget .form-submit {
  margin-top: 22px;
}

.page-proposed-session .view-proposed-sessions .views-row {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ddd;
}