<div class="schedule-item">
    <div class="schedule-item--detail-row">
        <div class="schedule-item--room">Room 1</div>
        <div class="schedule-item--hours">11:00-11:45</div>
    </div>
    <div class="schedule-item--title">{{ content.display_title }}</div>
    <div class="schedule-item--speaker">{{ content.speakers }}</div>
    <div class="schedule-item--difficulty">
        <div class="schedule-item--rating-block rating-active"></div>
        <div class="schedule-item--rating-block"></div>
        <div class="schedule-item--rating-block"></div>
    </div>
    <div class="schedule-item--detail-row">
        <div class="schedule-item--topic">Digital Ambitious
            Experiences
        </div>
        <div class="schedule-item--save"></div>
    </div>
</div>