{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
'section-intro',
'sponsors-intro'
] %}
<div{{ attributes.addClass(classes) }}>
    <div class="section-intro--background"></div>
    <div class="section-intro--text">
        <h1 class="section-intro--title">{{ label }}</h1>
        <div class="section-intro--details">
            {{ content.field_description }}
        </div>
    </div>
</div>

<div class="sponsors-categories">
    <div class="l-container">
        <div class="l-row">
            {{ content.field_paragraphs }}
        </div>
    </div>
</div>
